### *Extracting hour*

Given an entry variable that represents time, in the format:
     "00:00:00" (hour: minutes: seconds)
    
Writing a function to extract the hour part from the time in the entry variable
And return it as an integer. For example:
         
         1) if hour is 00, your code must return 0
         2) if hour is 01, your code must return 1
         3) if hour is 21, your code must return 21
        
 Return te hour as an integer.

In [8]:
import pandas as pd
def time_to_hour(time):
    
    hour = int(time[0])*10+int(time[1]) 
    return hour
#time=input('enter the time:- ')
#hour=time_to_hour(time)
#print(hour)
filename = "master_file.txt"
df=pd.read_csv(filename, sep=",")
df['hour_number']=df['TIMEn'].apply(time_to_hour)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,hour_number
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,00:00:00,REGULAR,6195217,2098317,0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,04:00:00,REGULAR,6195240,2098318,4
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,08:00:00,REGULAR,6195256,2098347,8
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,12:00:00,REGULAR,6195346,2098432,12
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,16:00:00,REGULAR,6195518,2098491,16